<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<button mat-button [matMenuTriggerFor]="menu">ADMINISTRADOR</button>
  <div id="wrapper">
    <mat-menu #menu="matMenu" class="navbar navbar-expand-lg navbar-light bg-dark">
      <button mat-menu-item routerLink="/books">Inventario</button>
      <button mat-menu-item routerLink="/reservations">Libros prestados</button>
      <button mat-menu-item routerLink="/rent-book">Alquilar Libros</button>
      <button mat-menu-item routerLink="/generar-pdf">PDF</button>
    </mat-menu>
  </div>
</nav>
